*{
    font-size: 16px;
    font-family: vazir;
    direction: rtl;
    color: #fff;
}
@font-face{
    font-family: byekan;
    src: url(../font-family/byekan/pixelboy-BYekan.ttf);
}
@font-face {
    font-family: TwoMedium;
    src: url(../../font-family/twomedium/pixelboy-TwoMedium.ttf);
  }
  @font-face {
    font-family: sahel;
    src: url(../../font-family/sahel-font-v1.0.0-alpha14/Sahel-Black.ttf);
}
:root{
    --primary-clr:#162f48;
    --secondary-clr:#0e2338;
    --light_blue-clr:#32aeff;
    --disabled-secondary-clr:#11283f;
    --dark_blue-clr:#3b82f6;
    --border_blue-hover:#4f8ff8;
}
.bckg-page-clr-bottom{
    background-color: #0e2338;
    width: 95%;
    min-height: 1400px;
    border-radius: 20px;
    margin: 40px 0px;
}
.col-xl-7{
    background-color: var(--primary-clr);
}
.col-lg-6{
    background-color: var(--primary-clr);
}
.box-account{
    padding: 30px 35px 0px 0px;
}
.box-account li{
    font-family: sahel;
}
.bck-profile{
    background-color: #192c41;
    width: 93%;
    max-height: 35%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
}
#icon-camera_pro{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 95px 0px;
    cursor: pointer;
}
.bck-profile_bottom{
    background-color: #778496;
    border:5px solid #fff;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 395px;
    margin: 0px 50px;
    cursor: pointer;
}
#icon-camera_bottom{
    font-size: 2rem;
    display: block;
    text-align: center;
    padding: 17px 0px;
    cursor: pointer;
}
.fname-user{
    display: block;
    font-size: 0.8rem;
    margin: 60px 35px 0px 0px;
    padding: 0px 10px;
    opacity: 0.8;
}
.fname-inpt{
    display: block;
    margin: 5px 35px 0px 0px;
    width: 85%;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-clr);
    padding: 7px 5px;
    font-size: 0.9rem;
}
.fname-inpt:focus{
    border: 1px solid var(--border_blue-hover);
}
.email-address{
    display: block;
    font-size: 0.8rem;
    margin: 60px 35px 0px 0px;
    padding: 0px 10px;
    opacity: 0.4;
}
.email-inpt{
    display: block;
    margin: 5px 35px 0px 0px;
    width: 85%;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-clr);
    padding: 7px 5px;
    font-size: 0.9rem;
}
.email-inpt:focus{
    border: 1px solid var(--border_blue-hover);
}
.email-inpt:disabled{
    background-color: var(--disabled-secondary-clr);
}
#Warning-email{
    padding: 5px 37px;
    font-size: 0.7rem;
    opacity: 0.4;
}

.address-prf_la{
    display: block;
    font-size: 0.8rem;
    margin: 60px 35px 0px 0px;
    padding: 0px 10px;
    opacity: 0.8;
}
.address-prf_inpt{
    display: block;
    margin: 5px 35px 0px 0px;
    width: 42%;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-clr);
    padding: 7px 5px;
    font-size: 0.9rem;
}
.address-prf_inpt:focus{
    border: 1px solid var(--border_blue-hover);
}
.Personal_Information{
    padding: 40px 35px 0px 35px;
    font-family: sahel;
}
.date-birth{
    display: block;
    font-size: 0.8rem;
    margin: 10px 35px 0px 0px;
    padding: 0px 10px;
    opacity: 0.8;
}
.date-birth_inpt{
    display: block;
    margin: 5px 35px 0px 0px;
    width: 85%;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-clr);
    padding: 7px 5px;
    font-size: 0.9rem;
}
.date-birth_inpt:focus{
    border: 1px solid var(--border_blue-hover);
}
.job-title{
    display: block;
    font-size: 0.8rem;
    margin: 10px 35px 0px 0px;
    padding: 0px 10px;
    opacity: 0.8;
}
.job-title_inpt{
    display: block;
    margin: 5px 35px 0px 0px;
    width: 85%;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-clr);
    padding: 7px 5px;
    font-size: 0.9rem;
}
.job-title_inpt:focus{
    border: 1px solid var(--border_blue-hover);
}
.talent-title{
    margin: 30px 35px;
}
.box-talent{
    display: block;
    font-size: 0.8rem;
    opacity: 0.8;
}
.boxtitle-talent{
    display: block;
    width: 99%;
    height: 200px;
    background-color: var(--primary-clr);
    color: #fff;
    border: 1px solid var(--primary-clr);
    outline: none;
    border-radius: 15px;
    padding: 10px 5px;
}
.boxtitle-talent:focus{
    border: 1px solid var(--border_blue-hover);
}
.mrg-job_tile{
    margin: 0px 0px 0px 0px;
}
.sub-bottom{
    direction: ltr;
    margin: 35px 0px 0px 45px;
}
.box-sub{
    padding: 10px 8px;
    background-color: var(--dark_blue-clr);
    color: #fff;
    font-size: 1rem;
    font-family: TwoMedium;
    outline: none;
    border: 2px solid var(--dark_blue-clr);
    border-radius: 5px;
    text-decoration: none;
}
.box-sub:hover{
    background-color: var(--secondary-clr);
    color: var(--border_blue-hover);
}
.container-footer_nav{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}