.bckg-page-clr-bottom--ch_pass{
    background-color: #0e2338;
    width:95%;
    min-height: 600px;
    border-radius: 20px;
    margin: 40px 0px;
}
.boxuser-mb label{
    color: #fff;
    opacity: 0.8;
}
.container-changes{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container-ch-Inside{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.forgot-text a{
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    font-size: 0.8rem;
}
.forgot-text a:hover{
    color: #fff;
    opacity: 10;
}
#new-ch_password{
    margin: 40px 0px 0px 0px;
    padding: 0px;
}
#now-ch_password label{
    margin: 0px;
    padding: 0px;
}
#now-ch_password input{
    margin: 0px;
}
#sub-bottom--link{
    margin: 250px 0px 0px 50px;
}
#new-ch_password label{
    margin: 0px;
}
#new-ch_password input{
    margin: 0px;
}
#idshow{
    margin-right: 0px;
    padding: 30px 0px;
}
#idshow span{
    font-size: 0.9rem;
}